@media (min-width: 300px) {

    .hero-content {
        background: url(images/calc-resize.jpg) no-repeat;
        background-position: center 250px;
        background-size: 100vw;
        height: auto;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #logo {
        align-items: center;
        margin: 0 2rem 1rem;
        width: 70vw;
        height: auto;
    }

    #herotext {
        margin: 20rem 0 0;
        padding: 5rem 1rem;
        width: 100vw;
        height: auto;
    }

    .content {
        padding: 4rem 0 2rem 0;
    }

    .input {
        margin: 0px;
        padding: 5px 0 5px 0;
    }
    
    #prod {
        padding-bottom: 5px;
    }

}

@media (min-width: 500px) {

    .hero-content {
        background: url(images/calc-resize.jpg) no-repeat;
        background-position: 90% 10%;
        background-size: 100vh;
        height: 100vh;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    
    }
    
    @keyframes slideInFromTop {
        0% {
          transform: translateY(-100%);
        }
      }
    
    #logo {
        animation: 1s ease-out 0s 1 slideInFromTop;
        margin-left: 4rem;
        width: auto;
        height: 50vh;
    }
    
    #herotext {
        width: 40vw;
        margin: 0 4rem 0; 
        padding: 1rem;
        text-align: justify;
    
    }
    
    .content {
        text-align: center;
        padding: 10rem 0 5rem 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    
    h1 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        padding: 20px 10px;
        margin: 10px 10px;
    }
    
    label {
        margin: 0px;
        padding: 5px;
    }
    
    .typeDrop, .ageDrop {
        padding-bottom: 15px;
    }
    
    button {
        margin-top: 15px;
    }
    
    .input {
        margin: 0px;
        padding: 10px 0px 5px 0px;
    }
    
    #prod {
        padding-top: 0px;
    }
    
    #calc {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }

}