body {
    text-align: center;
    background-color:#b6f0ed;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
}

label {
    margin: 0px;
    padding: 5px;
}

.typeDrop, .ageDrop {
    padding-bottom: 15px;
}

button {
    margin: 15px;
}

.content {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.input {
    margin: 0px;
    padding: 10px 0px 5px 0px;
}

#prod {
    padding-top: 0px;
}

#calc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}




